@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

/* Pages */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0 70px 0 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-list-menu {
  margin-left: 169px;
}

.navigation-logo {
  position: absolute;
  z-index: 1;
  display: block;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}

.navigation-user {
  max-width: 305px;
  margin-left: auto;
  justify-content: end;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link-current {
  padding-left: 0;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0px;
  left: 0px;
  height: 4px;
  background-color: #756257;
  content: "";
}

.navigation-in-favorites {
  position: absolute;
  bottom: 34px;
  right: 5px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  padding: 3px 5px 3px 4px;
  min-width: 19px;
  min-height: 19px;
  font-size: 10px;
  line-height: 12px;
  background-color: #7DB550;
  border-radius: 50%;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #7562574D;
}

.navigation-icon:hover {
  fill: #756257;
}

.navigation-icon:active {
  fill: #7562574D;
}

.navigation-icon:active .navigation-in-favorites {
  color: #7DB550;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.main-inner {
  padding: 0;
  margin: 0;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg");
  background-size: 100% 485px;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 -5px 9px 3px #dbdbdb;
}

.page-index-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 145px;
}

.promo {
  margin-bottom: 80px;
}


/* advantages */

.advantages {
  display: flex;
  justify-content: space-between;
  max-height: 384px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 31px;
  padding: 0;
  width: 720px;
}

.advantages-description {
  display: block;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 720px;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  min-width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.advantages-item-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  padding-top: 97px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 87px;
}

.item-without-img {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item-light-blue {
  background: #83B3D31F;
}

.advantages-item-medium-blue {
  background: #83B3D333;
}

.item-with-logo {
  padding-top: 184px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 79px;
}


.advantages-with-number {
  padding-top: 98px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 108px;
}

.advantages-img {
  display: block;
  object-fit: contain;
}

/* search hotel */
.search-hotel,
.newsletter {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 93px;
}

.search-hotel-description {
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
}


/* newsletter  */
.newsletter {
  text-align: center;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-hotel-title,
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 29px;
  margin: 0;
}

.newsletter-description {
  margin: 0;
  padding: 0;
  padding-bottom: 46px;
}

/* catalog */
.catalog-filter {
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #756257;
  background-size: 100%;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  min-height: 408px;
  padding-left: 71px;
  margin-bottom: 50px;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.filter-infrastructure {
  width: 207px;
  margin-right: 10px;
}

.filter-house {
  width: 207px;
  margin-right: 105px;
}

.filter-price-choice {
  width: 297px;
}

.filter-button {
  width: 160px;
  margin-right: 72px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  padding-top: 34px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.newsletter-index {
  color: #FFFFFF;
  background-color: #756257;
  background-size: 100%;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  height: 411px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  margin-right: 26px;
  color: inherit;
}

.breadcrumbs-main {
width: 12px;
height: 12px;
margin-right: 26px;
}


.newsletter-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.search-results-title {
  display: block;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  width: 338px;
  margin: 0;
  padding-right: 191px;
}

.search-results-sorting .button {
  width: 48px;
  height: 48px;
}

.inner-header {
display: block;
}

.catalog-filter-group {
  border: none;
}

/* hotels */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  list-style-type: none;
  width: 1056px;
  margin: 0 72px 34px;
  padding: 0;
}

.search-results-sorting {
  display: flex;
  margin-left: 72px;
  margin-bottom: 53px;
}

.search-results {
  width: 338px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-card {
 display: flex;
 flex-direction: column;
 padding: 20px;
}

.catalog-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-card-image {
  object-fit: contain;
  margin-bottom: 16px;
}

.hotel-card-title {
  display: block;
  margin: 0 0 16px 0;
  box-sizing: border-box;
}

.catalog-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.catalog-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.hotel-card-price {
  width: 143px;
  text-align: start;
}

.hotel-rating-text {
  display: block;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 160px;
  margin: 0;
  background: #F2F2F2;
}

.catalog-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.button-favorits {
  width: 142px;
}

.item-rating {
  font-size: inherit;
  line-height: inherit;
}

.show-more {
  margin-bottom: 30px;
}


/* pagination */

.pagination {
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
  margin: 0 72px 73px;
  padding: 0;
}

.pagination-container {
  display: flex;
  padding: 0;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.show-more {
  display: flex;
  width: 386px;
  margin-left: auto;
}

.button-show-more {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 290px;
  padding-right: 290px;
  margin-bottom: 30px;
}

.hotels-on-page {
  display: block;
  margin: 0;
  margin-right: 51px;
  padding: 0;
}


/*footer*/
.footer-contacts-phone {
  display: block;
  height: 70px;
  width: 361px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  border-radius: 10px;
}

.footer-contacts-phone:hover {
  color: #756257;
  }

.footer-contacts-phone:focus {
outline: 3px solid #83B3D3;
}

.footer-contacts-phone:active {
  color: rgba(117,97,87, 0.3);
  outline: none;
  }

.page-footer-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  padding: 40px 0;
  align-items: center;
}

.footer-social {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 168px;
  margin-top: 0;
  margin-bottom: 53px;
  margin-left: 72px;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 107px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.footer-social-item:nth-child(1) {
  padding: 12px 11px 12px 11px;
}

.footer-social-item:nth-child(2) {
  padding: 11px 15px 11px 15px;
}

.footer-social-item:nth-child(3) {
  padding: 10px 10px 10px 10px;;
}


.button-social {
  display: block;
  width: 40px;
  height: 40px;
}

.button-social:not(last-child) {
  margin-right: 5px;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-icon:hover {
   fill: #68A2CA;
  }

.footer-social-item:focus {
    fill: #68A2CA;
    outline: 3px solid #68A2CA;
   }

.footer-social-item:active {
   fill:#68A2CA;
   opacity: 30%;
   outline: none;
  }

.footer-contacts {
  margin-top: 0;
  margin-bottom: 40px;
  width: 720px;
  margin-right: 53px;
}

.footer-logo {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 135px;
  height: 70px;
  border-radius: 10px;
  padding: 18px 22px 18px 22px;
  margin-bottom: 45px;
  margin-right: 72px;
}

.html-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

 .footer-logo:hover .html-logo {
  fill: #756257;
 }


 .footer-logo:focus {
  box-shadow: inset 0 0 0 3px #68A2CA;
  outline: none;
}

 .footer-logo:focus .html-logo {
   fill: #756257;
  }

  .footer-logo:active {
    outline: none;
    box-shadow: none;
  }

 .footer-logo:active .html-logo {
  fill:#756257;
  opacity: 30%;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */



.button {
  display: block;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding-top: 19px;
  padding-bottom: 19px;
}

.button-blue {
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-orange {
  background-color: #756257;
  border-radius: 4px;
}

.small-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
}

.small-button-orange {
  background-color: #756257;
}

.small-button-blue {
  background-color: #83B3D3;
}

.small-button-added {
  background-color: #7DB54F;

}

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background: none;
}

.button-catalog {
  display: block;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 32px 9px 32px;
  color: #ffffff;
  background-color: #756257;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-catalog:hover {
 background-color: #615048;
 color: #ffffff;
}

.button-catalog:focus {
  background-color: #615048;
  color: #ffffff;
  outline: 2px solid #83B3D3;
 }

 .button-catalog:active {
  background-color: #615048;
  color: #FFFFFF4D;
  outline: none;
 }

.newsletter-button {
  min-width: 200px;
  background-color: #83B3D3;
  border-radius: 0 10px 10px 0;
}

.newsletter-button:hover {
  background-color: #68A2CA;
 }

 .newsletter-button:focus {
   background-color: #68A2CA;
   outline: 3px solid #756257;
  }

  .newsletter-button:active {
   color: rgba(255, 255, 255, 0.3);
   background-color:#68A2CA;
   outline: none;
  }

.large-button {
  padding-top: 15px;
  padding-bottom: 15px;
}


.search-hotel .button {
  display: block;
  margin: 0 auto;
  line-height: 36px;
  min-width: 575px;
  border-radius: 10px;
}

.search-hotel .button:hover {
  background-color: #615048;
  color: #ffffff;
 }

 .search-hotel .button:focus {
   background-color: #615048;
   color: #ffffff;
   outline: 2px solid #83B3D3;
  }

  .search-hotel .button:active {
   background-color: #615048;
   color: #FFFFFF4D;
   outline: none;
  }






