@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
}


/* Pages */

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation {
    display: flex;
    margin: 0 auto;
    padding: 0 70px 0 70px;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.navigation-list-menu {
    margin-left: 169px;
}

.navigation-logo {
    position: absolute;
    z-index: 1;
    display: block;
    margin: 0;
    margin-right: 30px;
    padding: 0;
}

.navigation-user {
    max-width: 305px;
    margin-left: auto;
    justify-content: end;
}

.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 20px;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 20px 17px;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
}

.navigation-icon {
    max-height: 66px;
    box-sizing: border-box;
    padding: 22px 12px 25px 12px;
}

.navigation-link-current::before {
    position: absolute;
    right: 17px;
    bottom: 0px;
    left: 17px;
    height: 4px;
    background-color: #756257;
    content: "";
}

.navigation-in-favorites {
    position: absolute;
    bottom: 32px;
    right: 0px;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    padding: 3px 5px 3px 4px;
    min-width: 19px;
    min-height: 19px;
    font-size: 10px;
    line-height: 12px;
    background-color: #7DB550;
    border-radius: 50%;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active {
    color: #7562574D;
}

.navigation-icon:hover {
    fill: #756257;
}

.navigation-icon:active {
    fill: #7562574D;
}

.navigation-icon:active .navigation-in-favorites {
    color: #7DB550;
}

.main-container {
    flex-grow: 1;
}

.main-inner {
    padding: 0;
    margin: 0;
}

.index-logo-background {
  padding: 0;
  margin: 0;
  background-color: #3F5E72;
  background-image: url("../images/index-background.jpg");
  background-size: 100% 485px;
  background-repeat: no-repeat;
  margin-bottom: 62px;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 -5px 9px 3px #dbdbdb;
}

.page-index-logo {
    display: block;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 84px;
}

.promo {
    margin-bottom: 80px;
}


/* advantages */

.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1200px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.advantages-title {
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-bottom: 31px;
    padding: 0;
    width: 720px;
}

.advantages-description {
    display: block;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 720px;
}

.advantages-item-title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.item-with-logo .advantages-item-title {
    margin-bottom: 20px;
}

.advantages-item-description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
}

.description-number {
    margin-bottom: 30px;
}

.advantages-item {
    max-width: 400px;
    min-height: 384px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.advantages-item-blue {
    color: #FFFFFF;
    background-color: #83B3D3;
    padding-top: 97px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 87px;
}

.item-without-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0;
    padding: 0;
    text-align: center;
}

.advantages-item-light-blue {
    background: #83B3D31F;
}

.advantages-item-medium-blue {
    background: #83B3D333;
}

.item-with-logo {
    padding-top: 184px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 79px;
}

.item-with-logo:nth-child(1) {
    background-image: url(../images/houses.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 89px;
}

.item-with-logo:nth-child(2) {
    background-image: url(../images/food.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 89px;
}

.item-with-logo:nth-child(3) {
    background-image: url(../images/souvenirs.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 84px;
}

.advantages-with-number {
    padding-top: 98px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 108px;
}

.advantages-img {
    display: block;
    object-fit: contain;
}


/* search hotel */

.search-hotel,
.newsletter {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding-top: 89px;
    padding-bottom: 93px;
    padding-left: 200px;
    padding-right: 200px;
}

.newsletter {
    padding-top: 91px;
}

.search-hotel-description {
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
    text-align: center;
}


/* newsletter  */

.newsletter {
    text-align: center;
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.search-hotel-title,
.newsletter-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    margin: 0;
    margin-bottom: 29px;
}

.newsletter-description {
    margin: 0;
    padding: 0;
    margin-bottom: 46px;
}

.newsletter-email {
    flex-grow: 1;
    margin: 0;
}

.newsletter-field {
    margin: 0;
    padding: 19px 22px;
    padding-bottom: 15px;
    min-width: 600px;
    box-sizing: border-box;
    font: inherit;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.newsletter-field:hover {
    background-color: #E6E6E6;
    outline: none;
}

.newsletter-field:focus {
    outline: 3px solid #83B3D3;
    outline-offset: -3px;
}

.newsletter-field:focus:invalid {
    background-color: #ffffff;
    outline: 2px solid #FF5757;
    outline-offset: -2px;
}


/* catalog */

.catalog-filter {
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #756257;
    background-size: 100%;
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    min-height: 408px;
    padding-left: 71px;
    margin-bottom: 39px;
}

.catalog-filter-form {
    display: flex;
    flex-wrap: wrap;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.filter-infrastructure {
    width: 207px;
    margin-right: 12px;
}

.filter-house {
    width: 207px;
    margin-right: 100px;
}


.filter-button {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-right: 72px;
    margin-top: 60px;
}

.filter-price-choice {
    width: 297px;
    margin-right: 73px;
    padding: 0;
}

.filter-price {
    display: flex;
    justify-content: center;
}

.range-input {
    width: 143px;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 18px;
    font-family: inherit;
    font-size: 18px;
    color: #FFFFFF;
    text-align: start;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 0 4px 4px 0;
}

.catalog-filter-label:first-of-type .range-input {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.range-input:hover {
    border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
    outline: 4px solid #83B3D3;
    border: 2px solid #FFFFFF;
}

.range-input:active {
    outline: none;
    border: 2px solid #FFFFFF;
    background-color: #756257;
}

.range-input[type='number'] {
  -moz-appearance:textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-scale {
    position: relative;
    width: 287px;
    height: 4px;
    left: 3px;
    right: -3px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    width: 236px;
    height: 4px;
    background-color: #FFFFFF;
}

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    border: none;
}

.toggle-min {
    top: -8px;
}

.toggle-max {
    top: -8px;
    right: 0px;
}

.range-toggle:focus {
    outline: 3px solid #83B3D3;
}

.range-toggle:active {
    outline: 2px solid #83B3D3;
}

.inner-header-title {
    margin: 0;
    padding-top: 38px;
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
}

.newsletter-index {
    color: #FFFFFF;
    background-color: #756257;
    background-size: 100%;
    background-image: url("../images/newsletter-background.jpg");
    background-repeat: no-repeat;
    height: 411px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 20px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  bottom: 2px;
  left: 25px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  height: 8px;
  width: 5px;
  content: "";
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
    display: block;
    margin-right: 26px;
    color: inherit;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}

.breadcrumbs-main {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    margin-right: 24px;
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
}

.breadcrumbs-main-icon {
    position: absolute;
    fill: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.breadcrumbs-arrow {
    width: 5px;
    height: 8px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: 5px 8px;
    background-position: center center;
    margin-right: 6px;
}

.breadcrumbs-link:hover {
    opacity: 60%;
}

.breadcrumbs-link:focus {
    outline: 3px solid #68A2CA;
}

.breadcrumbs-link:active {
    opacity: 30%;
    outline: none;
}

.newsletter-inner {
    color: #000000;
    background-color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 160px;
}

.newsletter-inner .newsletter-title {
    margin-bottom: 46px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 30px;
    padding: 0;
}

.catalog-filter-price {
    padding-left: 5px;
    margin-bottom: 33px;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 13px;
}

.search-results {
    box-sizing: border-box;
    margin-right: 191px;
    padding: 0;
}

.search-results-title {
    width: 509px;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

.filter-price {
    position: relative;
    padding-bottom: 20px;
}

.catalog-filter-label::before {
    position: absolute;
    top: 14px;
    right: 20px;
    width: 17px;
    height: 23px;
    content: "до";
    font: inherit;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
    background: none;
}

.catalog-filter-label::after {
    position: absolute;
    top: 14px;
    left: 116px;
    width: 17px;
    height: 23px;
    content: "от";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
    background: none;
}

.sorting-button {
    min-width: 184px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.button-light {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    outline: 2px solid #E5E5E5;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
}

.button-light-selected {
    background-color: #ffffff;
    border: none;
    outline: 2px solid #000000;
    box-shadow: none;
}

.button-light {
  margin-top: 4px;
  margin-bottom: 4px;
}

.button-light:not(:last-child) {
    margin-right: 8px;
}

.button-light svg {
    fill: #000000;
}

.button-light:hover,
.button-light:focus {
    outline: 2px solid #83B3D3;
}

.select-control {
    box-sizing: border-box;
    width: 287px;
    padding: 11px 19px;
    padding-right: 14px;
    margin-right: 80px;
    font: inherit;
    font-weight: 400;
    font-size: 18px;
    background-color: #ffffff;
    outline: 2px solid #E6E6E6;
    border: none;
    border-radius: 4px;
    background-image: url(../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 21px center;
    appearance: none;
}

.select-hotels-on-page {
    box-sizing: border-box;
    width: 160px;
    line-height: 23px;
    margin: 0px;
    padding: 13px 131px 12px 17px;
}

.select-control:hover,
.select-control:focus {
    outline: 2px solid #83B3D3;
    border: none;
}

.select-control:active {
    outline: 2px solid #E6E6E6;
    border: none;
    color: rgba(0, 0, 0, 0.3)
}

.inner-header {
    display: block;
}

.catalog-filter-group {
    border: none;
}


/*checkbox and radio-button*/

.control {
    position: relative;
    display: block;
    padding-left: 39px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 10px;
    background-image: url(../images/tick.svg);
    content: "";
}

.control-input:hover+.control-mark {
    background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus+.control-mark {
    background-color: rgba(255, 255, 255, 0.6);
    outline: 3px solid #83B3D3;
}

.control-input:active+.control-mark {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.control-input[type="radio"]+.control-mark {
    border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
    content: "";
}


/* hotels */

.hotel-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 7px 18px;
    list-style-type: none;
    width: 1056px;
    margin: 0px 72px 26px 72px;
    padding: 0;
}

.search-results-sorting {
    display: flex;
    align-items: center;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 50px;
}

.search-results {
    width: 338px;
}

.hotel-card-link {
    display: block;
    margin-bottom: 19px;
}

.hotel-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.catalog-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotel-card-image {
    display: block;
    object-fit: contain;
}

.hotel-card-link:hover {
    outline: 6px #756257;
    opacity: 60%;
}

.hotel-card-link:focus {
    outline: 5px solid #68A2CA;
}

.hotel-card-link:active {
    opacity: 30%;
    outline: none;
}

.hotel-card-title {
    font-size: 24px;
    display: block;
    margin: 0 0 19px 0;
    box-sizing: border-box;
}

.catalog-content {
    display: flex;
    flex-direction: column;
}

.catalog-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.hotel-card-type,
.hotel-card-price {
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding: 0;
}

.hotel-card-price {
    width: 143px;
    text-align: start;
}

.hotel-rating-text {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 160px;
    padding: 9px 0px 10px 0px;
    margin: 0;
    background: #F2F2F2;
    border-radius: 4px;
}

.catalog-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    gap: 10px;
    align-items: center;
}

.catalog-buttons .button-orange {
    max-width: 133px;
}


.button-favorits {
    max-width: 142px;
}

.hotel-rating-stars {
  display: flex;
  flex-wrap: wrap;
  max-width: 133px;
}

.star {
  width: 18px;
  height: 17px;
  background: none;
  background-image: url(../images/star.svg);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 7px;
}


/* pagination */

.pagination {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    margin: 0 72px 73px;
    padding: 0;
}

.pagination-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
    padding: 0;
    margin-right: 299px;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-link:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
    outline-offset: -3px;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: none;
}

.button-show-more {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 290px;
    padding-right: 290px;
    margin-bottom: 27px;
}

.button-show-more::after {
    position: absolute;
    right: 72px;
    bottom: 120px;
    left: 72px;
    height: 1px;
    background-color: #E6E6E6;
    content: "";
}

.button-show-more::before {
    position: absolute;
    right: 72px;
    bottom: 0px;
    left: 72px;
    height: 1px;
    background-color: #E6E6E6;
    content: "";
}

.button-show-more .button {
    min-width: 620px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.hotels-on-page {
    width: 226px;
    font-size: 18px;
    line-height: 23px;
}

.show-hotels-on-page {
    box-sizing: border-box;
    width: 205px;
    margin-right: 21px;
    padding: 0;
}


/*footer*/

.footer-contacts-phone {
    display: block;
    height: 70px;
    width: 361px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    border-radius: 10px;
}

.footer-contacts-phone:hover {
    color: #756257;
}

.footer-contacts-phone:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
}

.footer-contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
    outline: none;
}

.page-footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    padding: 0;
    align-items: center;
    margin-right: 43px;
    margin-left: 43px;
}

.footer-social {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 168px;
    margin-top: 10px;
    margin-bottom: 53px;
    margin-right: 72px;
    padding: 0 0 0 18px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 107px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-social-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.footer-social-item:nth-child(1) {
    padding: 12px 11px 12px 11px;
}

.footer-social-item:nth-child(2) {
    padding: 11px 15px 11px 15px;
}

.footer-social-item:nth-child(3) {
    padding: 10px 10px 10px 10px;
    ;
}

.button-social {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.footer-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #83B3D3;
}

.footer-icon:hover {
    fill: #68A2CA;
}

.footer-social-item:focus {
    outline: 3px solid #83B3D3;
}

.footer-social-item:active {
    box-shadow: none;
    outline: none;
}

.footer-social-item:active .footer-icon {
    fill: #68A2CA;
    opacity: 30%;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}

.footer-logo {
    display: flex;
    justify-content: end;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 167px;
    height: 70px;
    border-radius: 10px;
    padding: 18px 22px 18px 22px;
    margin-bottom: 45px;
    margin-left: 72px;
}

.html-logo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000000;
}

.footer-logo:hover .html-logo {
    fill: #756257;
}

.footer-logo:focus {
    outline: 3px solid #83B3D3;
}

.footer-logo:focus .html-logo {
    fill: #756257;
}

.footer-logo:active {
    outline: none;
    box-shadow: none;
}

.footer-logo:active .html-logo {
    fill: #756257;
    opacity: 30%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Buttons */

.button {
    display: block;
    font-family: inherit;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    padding-top: 19px;
    padding-bottom: 19px;
}

.button-blue {
    background-color: #83B3D3;
    border-radius: 4px;
}

.button-orange {
    background-color: #756257;
    border-radius: 4px;
}

.small-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}

.catalog-buttons .small-button {
    padding-left: 22px;
    padding-right: 22px;
}

.catalog-buttons .small-button-added {
    background-color: #7DB54F;
    padding-right: 18px;
    padding-left: 18px;
}

.small-button-added:hover {
    background-color: #6C9E42;
    color: #ffffff;
}

.small-button-added:focus {
    background-color: #6C9E42;
    color: #ffffff;
    outline: 3px solid #756257;
}

.small-button-added:active {
    background-color: #6C9E42;
    color: #FFFFFF4D;
    outline: none;
}

.button-reset {
    text-transform: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    background: none;
    padding: 3px 11px 2px 11px;
    border-radius: 4px;
}

.button-reset:hover {
    opacity: 60%;
}

.button-reset:focus {
    color: #ffffff;
    outline: 3px solid #83B3D3;
}

.button-reset:active {
    opacity: 30%;
    outline: none;
}

.button-catalog {
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 34px 9px 35px;
    margin-left: 18px;
    color: #ffffff;
    background-color: #756257;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.button-catalog:hover,
.button-orange:hover {
    background-color: #615048;
    color: #ffffff;
}

.button-catalog:focus,
.button-orange:focus {
    background-color: #615048;
    color: #ffffff;
    outline: 3px solid #83B3D3;
}

.button-catalog:active,
.button-orange:active {
    background-color: #615048;
    color: #FFFFFF4D;
    outline: none;
}

.newsletter-button {
    min-width: 200px;
    background-color: #83B3D3;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 18px 30px 17px 30px;
}

.newsletter-button:hover,
.small-button-blue:hover,
.button-blue:hover {
    background-color: #68A2CA;
}

.newsletter-button:focus,
.small-button-blue:focus,
.button-blue:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}

.newsletter-button:active,
.small-button-blue:active,
.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #68A2CA;
    outline: none;
}

.newsletter-inner .newsletter-button {
    padding-left: 32px;
    padding-right: 32px;
}

.large-button {
    padding-top: 15px;
    padding-bottom: 10px;
}

.search-hotel .button {
    display: block;
    margin: 0 auto;
    line-height: 36px;
    min-width: 575px;
    border-radius: 10px;
}

.search-hotel .button:hover {
    background-color: #615048;
    color: #ffffff;
}

.search-hotel .button:focus {
    background-color: #615048;
    color: #ffffff;
    outline: 3px solid #83B3D3;
}

.search-hotel .button:active {
    background-color: #615048;
    color: #FFFFFF4D;
    outline: none;
}

.filter-button:first-of-type .button {
    margin-bottom: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*modal window and tooltip*/

.modal-container {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
    display: none;
}

.modal {
    position: relative;
    margin: auto;
    padding: 54px 70px 70px 70px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 1px #dbdbdb;
    width: 715px;
    box-sizing: border-box;
}

.modal-close-button {
    position: absolute;
    padding: 0;
    top: 54px;
    right: 70px;
    width: 53px;
    height: 53px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
    border: none;
}

.modal-close-button:focus {
    outline: 3px solid #83B3D3;
}

.modal-close-button:active {
    border: none;
    outline: none;
}

.modal-close-button:active .modal-close {
    fill: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
}

.modal-close {
    position: absolute;
    fill: #000000;
    width: 13px;
    height: 13px;
    top: 20px;
    right: 20px;
}

.modal-title {
    margin: 0;
    margin-bottom: 59px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.search-form {
    display: grid;
    grid-template-columns: 288px 230px;
    grid-column-gap: 56px;
}

.message {
    grid-column: 1 / -1;
    display: block;
    max-width: 470px;
    margin: 0;
    margin-left: 155px;
    margin-bottom: 11px;
    font-family: inherit;
    font-size: 16px;
    line-height: 29px;
}

.message-error {
    color: #FF5757;
}

.form-check-in {
    grid-column: 1 / -1;
}

.form-check-out {
    grid-column: 1 / -1;
}

.search-form-submit {
    grid-column: 1 / -1;
    margin-top: 40px;
}

.field-group {
    display: flex;
    align-items: center;
    margin: 0;
}

.field {
    box-sizing: border-box;
    margin: 0;
    padding: 5px 246px 5px 19px;
    font: inherit;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
    background-color: #F2F2F2;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    max-width: 420px;
}

.field:hover,
.field:focus {
    border: none;
    background-color: #E6E6E6;
}

.field:focus {
    outline: 3px solid #83B3D3;
    border: none;
}

.field:active {
    background-color: #ffffff;
    outline: 2px solid #000000;
    border: none;
}

.field[type="number"] {
    display: flex;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    width: 133px;
    text-align: center;
}

.field-number[type='number'] {
  -moz-appearance:textfield;
}

.field-number::-webkit-outer-spin-button,
.field-number::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.field-date {
    position:relative;
    background-image: url(../images/date.svg);
    background-repeat: no-repeat;
    background-position: right 19px center;
    appearance: none;
}

.form-label {
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
}

.form-label-icon {
    position: relative;
}

.plus-button,
.minus-button {
    position: absolute;
    background: none;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 6px;
    fill: rgba(0, 0, 0, 0.3);
}

.plus-button {
    bottom: 186px;
    right: 90px;
}

.plus {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.minus-button {
    bottom: 186px;
    right: 165px;
}

.form-adults .minus-button {
    bottom: 186px;
    left: 238px;
}

.form-adults .plus-button {
    bottom: 186px;
    left: 319px;
}

.minus {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.plus-button:hover,
.minus-button:hover {
    fill: #000000;
    border: none;
}

.plus-button:focus,
.minus-button:focus {
    fill: #000000;
    border: none;
    outline: 3px solid #83B3D3;
}

.plus-button:active,
.minus-button:active {
    fill: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

.tooltip {
    position: absolute;
    margin-top: 4px;
    margin-left: 2px;
    width: 16px;
    height: 16px;
}

.tooltip-toggle {
    position: absolute;
    top: 4px;
    border: none;
    background-color: #83B3D3;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    margin-left: 5px;
    display: block;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    padding: 3px 5px 3px 4px;
    font-size: 10px;
}

.tooltip-toggle:hover {
    background-color: #68A2CA;
}

.tooltip-text {
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    padding: 16px 20px 17px 20px;
    margin-top: 29px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    left: -125px;
    top: 100%;
    width: 256px;
    display: none;
    box-shadow: 5px 5px 15px 1px #dbdbdb;
}

.tooltip-toggle:hover+.tooltip-text,
.tooltip-toggle:focus+.tooltip-text {
    display: block;
}

.tooltip-text:after {
    content: '';
    background-image: url(../images/tooltip-arrow.svg);
    width: 19px;
    height: 9px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
