@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

/* Pages */
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-logo {
  display: block;
  margin: 0;
  margin-right: 30px;
  padding: 0;
}
.navigation-user {
  max-width: 305px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 20px;
}

.button-catalog {
  display: block;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
  padding-top: 51px;
}

.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg");
  background-size: 100% 485px;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-index-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 145px;
}

.promo {
  margin-bottom: 80px;
}


/* advantages */

.advantages {
  display: flex;
  justify-content: space-between;
  max-height: 384px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-title {
  display: block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 31px;
  padding: 0;
  width: 720px;
}

.advantages-description {
  display: block;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 720px;
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item {
  width: 400px;
  max-height: 384px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.advantages-item-blue {
  color: #FFFFFF;
  background-color: #83B3D3;
  /*width: 400px;*/
  padding-top: 97px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 87px;
}

.item-without-img {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item-light-blue {
  background: #83B3D31F;
}

.advantages-item-medium-blue {
  background: #83B3D333;
}

.item-with-logo {
  padding-top: 184px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 79px;
}

.advantages-with-number {
  padding-top: 98px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 108px;
}

/* search hotel */
.search-hotel,
.newsletter {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 93px;
}

.search-hotel-description {
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
}


/* newsletter  */
.newsletter {
  text-align: center;
}

.search-hotel-title,
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 29px;
  margin: 0;
}

.newsletter-description {
  margin: 0;
  padding: 0;
  padding-bottom: 46px;
}

/* catalog */
.catalog-filter {
  color: #FFFFFF;
  background-color: #756257;
  background-size: 100%;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}


.newsletter-index {
  color: #FFFFFF;
  background-color: #756257;
  background-size: 100%;
  background-image: url("../images/newsletter-background.jpg");
  background-repeat: no-repeat;
  height: 411px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: inherit;
}

.newsletter-inner {
  color: #000000;
  background-color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.search-results-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

.catalog-hotels {
  display: flex;
  justify-content: space-between;
}

.inner-header {
display: block;
}

/* hotels */

.hotel-list {
  width: 1056px;
  margin: 0 72px;
  padding: 0;
}

.search-results-sorting {
  display: flex;
  justify-content: space-between;
  margin-left: 72px;
}

.search-results {
  width: 338px;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 31px;
  color: #5f5f5f;
  text-decoration: none;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 23px;
}

.hotel-rating-text {
  font-size: 16px;
  line-height: 21px;
}

.item-rating {
  font-size: inherit;
  line-height: inherit;
}

/* pagination */
.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20;
  line-height: 26px;
  font-weight: 700;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

/*footer*/
.footer-contacts-phone {
  display: block;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  text-decoration-line: none;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.page-footer-container {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  padding: 40px 0;
}

.footer-social {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 53px;
  width: 240px;
  margin-right: 61px;
  margin-left: 72px;
  padding: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 107px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 18px;
  height: 18px;
  margin-right: 29px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-contacts {
  margin-top: 0;
  margin-bottom: 40px;
  width: 720px;
}

.footer-logo {
  margin-top: 0;
  margin-bottom: 45px;
  width: 115px;
  margin-right: 53px;
  margin-left: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */



.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff
}

.button-blue {
  background-color: #83B3D3;
}

.button-orange {
  background-color: #756257;
}

.small-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.small-button-orange {
  background-color: #756257;
}

.small-button-blue {
  background-color: #83B3D3;
}

.small-button-added {
  background-color: #7DB54F;

}

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.button-catalog {
  font-size: 20px;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}


